*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Mizan";
  src: url("../fotns/MizanAR+LT-Medium.woff");
  src: url("../fotns/MizanAR+LT-Medium.woff2");
  src: url("../fotns/MizanAR+LT-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "IranSans";
  src: url("../fotns/iranSans/AIranianSans.ttf");
  src: url("../fotns/iranSans/AIranianSans.woff");
  src: url("../fotns/iranSans/AIranianSans.woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,500&display=swap");

body,
html {
  font-family: "Mizan", sans-serif !important;
  direction: rtl;
}
